.customize-table-container {
    max-height: 400px; /* Adjust this value to control the maximum height of the table body */
    overflow-y: scroll;
}

table {
    width: 100%;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    position: sticky;
    top: 0;
    background-color: #dcdcdc;
    z-index: 2;
}